.md-card {
    border-radius: var(--border-radius-medium);
    padding: 16px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;
    position: relative;
    overflow: hidden;
}

.md-card--elevated {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.md-card--filled {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: none;
}

.md-card--outlined {
    background-color: var(--md-sys-color-surface);
    border: 1px solid var(--md-sys-color-outline);
    box-shadow: none;
}